<h1> Menu </h1>

<div class="btn-group" role="group" aria-label="Basic example">
  <%=link_to "Find Guides", menu_path, class: 'btn btn-info'%>
  <%=link_to "Find Tours", menu_path, class: 'btn btn-info'%>
</div>

<div class="row">
  <%= form_tag menu_path, class: "form-inline" ,method: :get do %>
  <div class="form-group">
    <label for="">Keyword</label>
    <input type="text" class="form-control" name="q">
  </div>
  <div class="form-group">
    <label for="">SORT MODE</label>

    <select  name="sort_mode" id="" class="form-control">
      <option value="0">Name</option>
      <option value="1">Price</option>

    </select>
  </div>
  <button type="submit" class="btn btn-danger">Search</button>
  <%end%>

  <%= link_to "Named", menu_path(sort_mode: "0", q: ""), class: 'btn btn-success', method: :get %>
  <%= link_to "Priced", menu_path(sort_mode: "1", q: ""), class: 'btn btn-success', method: :get %>
</div>



<% @guides.each do |g| %>
    <div class="card">
      <div class="card-header">
        <%= g.name %>
      </div>
    </div>
    <div class="card-block">
      <%= image_tag g.image_url %>
    </div>
<% end %>
