<div class="container">
<h2> Menu </h2>
<br><br>

<div class="row">

  <%= form_tag menu_path, class: "form-inline" ,method: :get do %>
  <div class="form-group">
    <%= link_to "Named", menu_path(sort_mode: "0", q: ""), class: 'btn btn-warning', method: :get %>
    <%= link_to "Priced", menu_path(sort_mode: "1", q: ""), class: 'btn btn-success', method: :get %>

    <input type="text" class="form-control" name="q" ,placeholder="Name of guide">
    <button type="submit" class="btn btn-danger">Search</button>

    <label for="">SORT MODE</label>

    <select  name="sort_mode" id="" class="form-control">
      <option value="0">Name</option>
      <option value="1">Price</option>
    </select>
  </div>

  <%end%>

</div>
<br>

<% index=0 %>
<div class="container">
  <% @guides.each do |g| %>
    <% index=index +1 %>
        <% if index % 4 ==0%>
           <div class="row">
            <%end%>
             <div class="col-sm-3">
               <div class="card hovercard">
            <%= image_tag g.image_url %>
              <div class="avatar">
                <%= image_tag g.image_url %>
              </div>
              <div class="info">
                  <div class="title">
                  <%= g.name %>
                  </div>
                  <div class="desc">Language: <%= g.language%></div>
                  <div class="desc">Price: <%=  g.price%></div>
              </div>
                <div class="bottom">

                    <%= link_to 'Show', g, class:'btn btn-success' %>
                </div>
            </div>
          </div>
      <% if index % 4 == 0%>
      </div>
  <%end%>
    <%end%>
</div>
</div>
