
<%= form_for(guide) do |f| %>
  <% if guide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guide.errors.count, "error") %> prohibited this guide from being saved:</h2>

      <ul>
      <% guide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'form-control-lable'%>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password, class: 'form-control-lable' %>
    <%= f.text_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :date,class: 'form-control-lable'%>
    <%= f.datetime_select :date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :language,class: 'form-control-lable' %>
    <%= f.text_field :language, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :address, class: 'form-control-lable' %>
    <%= f.text_field :address,class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email, class: 'form-control-lable' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :image, class: 'form-control-lable' %>
    <%= f.file_field :image, onchange:"readURL(this)", class:"btn btn-info" %>
    <img id ="blah" src="#" alt = "your image" width = "300" height="300">
  </div>

  <div class="form-group">
    <%= f.label :rating, class: 'form-control-lable' %>
    <%= f.text_field :rating, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
