
<p id="notice"><%= notice %></p>
<div class="container">
		<div class="card1">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">

						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/252" /></div>
						</div>
					</div>
					<div class="details col-md-3">
						<h3 class="product-title">  <%= @guide.name %></h3>
							<span class="review-no">41 reviews</span>

						<h4><b>Language:</b>   <%= @guide.language %></h4>
						<h4><b>Email:</b>   <%= @guide.email %></h4>
            <h4><b>Birthday: </b>     <%= @guide.date %></h4>
              <h4><b>Address: </b>     <%= @guide.address %></h4>
              <br>
						<div class="action">
							<button class="add-to-cart btn btn-default" type="button">Book this guide</button>
						</div>
					</div>
            <div class="details col-md-3">
          <br>
          Price: <%= rating_for @guide, "price",star: 5, disable_after_rate: false, enable_half: true,cancel: true, imdb_avg: true %>
          <br>
          Language: <%= rating_for @guide, "language", star: 5, disable_after_rate: false, enable_half: true,cancel: true%>
          <br>
          Attitude: <%= rating_for @guide, "attitude", star: 5, disable_after_rate: false, enable_half: true, cancel: true %>

          </div>
				</div>
			</div>
		</div>



<p>
<% if @guide.comments.count == 0 %>
<strong> No comments </trong>
<%else%>
Number of comments: <%= @guide.comments.count %>


  <%  @guide.comments.each do |comment|%>
  <li>
  <%= link_to comment.title %>
  <span class= "date"> <%=time_ago_in_words(comment.created_at) %> ago</span>
  <p>
    <%= comment.content %>
  </p>
  <% end %>
</li>

<br/>

<p>
<%end%>
  <%= form_for @comment do |f| %>
    <fieldest>
      <ol>
        <li>
          <%= f.text_area :content, row: 2, cols: 60,
                            placeholder: "Write a comment..." %>
        </li>
        <li>
          <input type="hidden" value ="<%= @guide.id %>" name="guide_id">
   <%= f.submit %>
        </li>
      </ol>
    </fieldest>

  </section>

  <% end %>
</br>
<%= link_to 'Back', guides_path %>
