<!DOCTYPE html>
<html>
  <head>
    <title>Webtour</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head   >

  <body>
    
<div class="container">
    <nav class="navbar navbar-light bg-faded justify-content-between">
  <a class="navbar-brand">Navbar</a>
  <form class="form-inline float-lg-right">
    <%= form_tag guides_path, class: "form-inline", method: :get do %>
    <input class="form-control" type="text" placeholder="Keyword" name="q">
    <button class="btn btn-outline-success" type="submit">Search</button>
    <% end %>
  </form>
</nav>
</div>
        <%= yield %>
  </body>
</html>
